* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(219, 219, 219);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-header {
    background-color: white;
    padding: 10px 30px;
}

.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

.logo {
    width: 60px;
    vertical-align: middle;
}

.container {
    background-color: white;
    margin: 0 auto;  
    padding: 10px 40px;
    border-radius: 0 0 10px 10px;
}

.main {
    padding-top: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.box {
    padding: 2px 0 0 0;
    max-width: 900px;
    margin: 0 auto;
}

.buttons {
    background-color: white;
    padding: 10px 0 10px 40px;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    
}

.button1 {
    background-color: rgb(58, 130, 255);
    color: white;
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

.button2 {
    background-color: rgb(255, 255, 255);
    color: rgb(154, 154, 154);
    border: 1px solid rgb(154, 154, 154);
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

.list1, .list2, .list3 {
    padding-left: 15px;
    margin: 0;
}

li {
    margin: 15px 0;
    padding-left: 10px;
    vertical-align: middle;
}

.check {
    list-style-type: "\2713";
}

ul .check::marker {
    color: green;
    border: 1px solid green;
}

.cross {
    list-style-type: "\2717"
}

ul .cross::marker {
    color: red;
    border-color: red;
}

.edit {
    background-color: rgb(58, 130, 255);
    font-size: 8px;
    padding: 3px;
    border-radius: 4px;
    color: white;
    vertical-align: middle;
}

.q1 {
    background-color: rgb(147, 58, 255);
    font-size: 8px;
    padding: 3px;
    border-radius: 4px;
    color: white;
    vertical-align: middle;
}

.rec {
    background-color: rgb(66, 165, 84);
    font-size: 8px;
    padding: 3px;
    border-radius: 4px;
    color: white;
    vertical-align: middle;
}

.mob {
    background-color: rgb(255, 166, 50);
    font-size: 8px;
    padding: 3px;
    border-radius: 4px;
    color: white;
    vertical-align: middle;
}

.web {
    background-color: rgb(192, 96, 209);
    font-size: 8px;
    padding: 3px;
    border-radius: 4px;
    color: white;
    vertical-align: middle;
}

.sales {
    background-color: rgb(14, 208, 59);
    font-size: 8px;
    padding: 3px;
    border-radius: 4px;
    color: white;
    vertical-align: middle;
}